*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
    color: white;
} 

body{
    min-height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://th.bing.com/th/id/OIP.WyJDfORd0jERd3X_f6UUJQHaEo?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-position: center;
}
.content {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 35px;}
th.bing.com
.button a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}
.button a i {
    font-size: 20px;
    margin-right: 8px;
}
.button a:hover {
    opacity: 0.8;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contact-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.btnn {
    display: inline-block;
    background: black;
    color: white;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 5px rgba(39, 6, 6, 0.1);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 16px;

}
.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
h2{
    text-align: center;
}