@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/background.png);
    background-position: center;
    background-size: cover;
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 51px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/* Hover underline */
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #5372f0;
    display: block;
    margin: auto;
    border-radius: 50px;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* ICONS (hamburger / close) */
nav .fa {
    display: none;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50px;
    padding: 8px 14px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
    overflow: hidden;
}

.search-bar:hover {
    width: 150px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 12px;
    background: transparent;
    color: #000;
}

.search-bar i {
    cursor: pointer;
    font-size: 20px;
    color: #5372f0;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ddd;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    font-weight: 600;
    color: #000;
    margin: 0 auto;
}

.card-list .card-link .card-button {
    height: 43px;
    width: 30px;
    border-radius: 50%;
    color: #5372f0;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372f0;

}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #5372f0;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #2c3e50;
        height: 165vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 100;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
    }

    nav .fa.fa-bars {
        position: absolute;
        top: 60px;
        right: 20px;
    }

    .nav-links ul {
        padding: 30px;
    }
}