* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.2rem;
    color: #5372f0;
    margin-bottom: 0.5rem;
}

h1 i {
    margin-right: 10px;
}

header p {
    color: #333;
    opacity: 0.7;
}

/* Search */
.search-container {
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    flex: 1;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}

input[type="text"]:focus {
    border-color: #5372f0;
}

button {
    background-color: #5372f0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0033ff;
}

/* Result */
#result-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.meal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.meal:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.meal img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.meal-info {
    padding: 1rem;
}

.meal-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.meal-category {
    display: inline-block;
    background-color: #91afdc;
    padding: 3px 8px;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-bottom: 10px;
}

#error-container {
    background-color: rgba(255, 126, 95, 0.1);
    border: 1px solid #5372f0;
    color: #0033ff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #5372f0;
    border: 2px solid #5372f0;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: #5372f0;
    color: white;
}


.hidden {
    display: none;
}

@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
    }

    #search-btn {
        width: 100%;
        padding: 10px;
    }

    .meals-container {
        grid-template-columns: 1fr;
    }
}